!!! xml

%rss(version="2.0")

  %channel
    %title Palavreado.com
    %description Aprenda uma nova palavra.
    %link http://palavreado.com/
    %language pt-BR
    %ttl 3600

    %item
      %title= word
      %description= description
      %link= url(escape(word))
      %guid= url(escape(word))
