/* Main Body */
body { margin:0 auto; padding:25px; width:850px; font-family:Crimson Text, Palatino, Georgia, serif; background:url("/images/bg_body.png") no-repeat center top #2F82C9; }

/* Title */
header { margin:0 0 25px 175px; font-family:Maven Pro, Helvetica, sans-serif; font-size:28px; font-weight:900; color:#F3F1EA; text-transform:uppercase; }
header span { font-weight:normal; color:#92D0ED; letter-spacing:-0.05em; text-transform:none; }


/* Content */
section { float:left; margin:0 25px 25px 175px; padding:50px; width:400px; background-color:#F3F1EA; box-shadow:0 1px 2px rgba(0,0,0,0.3); }

/* Word Section */
#word h1 { margin-bottom:35px; font-size:60px; font-weight:normal; text-align:center; line-height:0.5em; }
#word #syllabes { margin-bottom:25px; font-size:24px; text-align:center; color:#9E9884; }
#word #syllabes em { font-weight:bold; font-style:normal; cursor:help; }

#word #description { margin-bottom:25px; font-size:24px; line-height:25px; }

#word #examples { font-size:24px; font-style:italic; color:#9E9884; list-style-position:inside; }


/* Sidebar */
nav { float:right; padding:25px; width:100px; background-color:#65AEDC; box-shadow:0 1px 2px rgba(0,0,0,0.3); }
nav h2 { margin-bottom:12px; font-size:13px; font-weight:600; color:#F3F1EA; text-transform:uppercase; letter-spacing:; text-align:center; text-shadow:0 1px 1px rgba(0,0,0,0.2); }
nav a { font-size:14px; color:#D3F3FF; line-height:25px; text-decoration:none; }
nav a:hover, nav a:focus { text-decoration:underline; }


/* Footer */
footer { float:left; margin-left:175px; width:500px; font-family:Maven Pro, Helvetica, sans-serif; font-size:13px; font-weight:bold; color:#65AEDC; }
footer a { color:#79BFEA; }
footer a:hover, footer a:focus { color:#D3F3FF; }
